h1,
p {
  font-family: Lato;
  color: black;
}
.buttonpack {
  margin: 5px;
}
.albumCover {
  clip-path: circle(35% at 50% 50%);
  width: 100%;
  height: 100%;
}
.ImagePlaceholder {
  padding: 10%;
}
